/*Fatto da Armando*/
#svant_vant{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

/*Smathphone*/
@media (max-width: 415px){
    img{width: 100%; height: 35vh;}
    #svant_vant{flex-direction: column;}
}


/*Fatto da crisi*/
body{
    margin: 0;
    padding: 0;
    width: 99vw;
}
#ambiente
{
    max-width: 99vw;
}

#container
{
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 90vw;
    padding-bottom: 35vh;
    flex-grow: 2;
    background: #4c4c4c;
    border: solid 8px #a99a96;
}
.slide_img
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img
{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.pre .ntx{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 99;
    cursor: pointer;
}

.pre{
    left: 0;
}
.ntx{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: #62030f;
}
.slide_img{
    z-index: -1;
}

#i1:checked ~ #italia,
#i2:checked ~ #francia,
#i3:checked ~ #spagna{
    z-index: 9;
}

#i1:checked ~ #dot1,
#i2:checked ~ #dot2,
#i3:checked ~ #dot3{
    background: #ffffff;
}

#testo{
    margin-top: 2%;
    margin-left: 1%;
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

#change{
    font-size: 2vh;
}
#immuni {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container_immuni{
    position: relative;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

#container_immuni .card{
    position: relative;
    margin: 0;
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5 px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
#container_immuni .card:hover{
    height: 70vh;
    width: 90vw;
}

#container_immuni .card .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
    top: -30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
#container_immuni .card .imgBx img
{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

#container_immuni .card .content_immuni{
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    margin-top: 200px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#container_immuni  .card:hover .content_immuni{
    display: block;
    background-color: #e6e6e6;
    opacity: 5;
    margin-top: 245px;
    margin-bottom: 0;
    transition-delay: 0.5s;
}
#titolo{
    margin-bottom: 6vh;
    color: #2f2e41;
}

#frame_agree{
    margin-top: -200px;
    width: 100%;
}
#testo_pro, #testo_contro{
    text-align: center;
}
#didattica_a_distanza{
    margin-top: 20px;
}
#didattica_a_distanza img{
    width: 90vw;
}
#pro, #contro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 576px ){
    #container_immuni .card{
        width: 80vw;   
    }
    #container_immuni .card .content_immuni{
        margin-top: 100px;
    }
    #container_immuni .card:hover{
        height: 80vh;
        width: 90vw;
    }
    #container_immuni  .card:hover .content_immuni{
        margin-top: 650px;
    }
    .images_pro img{
        width: 90vw;
    }
    #didattica_a_distanza{
        margin-top: 40px;
    }
}

@media (min-width: 1023px){
    #container_immuni .card{
        width: 80vw;   
        flex-direction: row;
    }
    #container_immuni .card .content_immuni{
        margin-top: 100px;
    }
    #container_immuni .card:hover{
        height: 80vh;
        width: 90vw;
    }
    #container_immuni  .card:hover .content_immuni{
        margin-top: 650px;
    }
    .images_pro img{
        width: 80%;
    }
    #didattica_a_distanza{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    #pro, #contro {
        display: flex;
        flex-direction: row;
    }

    #img_pro{
        flex-grow: 1
    }

    #testo_pro{
        flex-grow: 2;
    }


}