/*Fatto da Armando*/
.container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

img{
    width: 30vw;
    height: 30vh;
    margin-bottom: 20px;
}

h1{
    margin-bottom: 20px;
}

.contenuto{
    display: flex;
    flex-direction: row;
}


/*Smathphone*/
@media (max-width: 576px){
    img{width: 100%; height: 30vh;}
    .contenuto{flex-direction: column;}
}


/*Tablet*/
@media (min-width: 765px){
    h1{
        font-size: 60px;
    }

    p{
        margin-left: 50px;
        font-size: 40px;
    }
}